/* Header */
ion-header {
    --background: #4CAF50; /* Màu nền của header */
  }
  
  ion-toolbar {
    --min-height: 56px; /* Chiều cao toolbar */
  }
  
  ion-title {
    font-size: 1.5rem;
    color: white; /* Màu chữ của title */
    font-weight: bold;
  }
  
  /* Content */
  ion-content {
    background-color: #f4f4f4; /* Màu nền của content */
    padding: 16px;
  }
  
  .input {
    margin-bottom: 20px;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-label {
    font-size: 1.1rem;
    color: #333;
  }
  
  ion-input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
  }
  
  ion-button {
    background-color: #4CAF50; /* Màu nền cho button */
    color: white; /* Màu chữ cho button */
    font-size: 1.2rem;
    border-radius: 8px;
  }
  
  /* Output */
  .output {
    text-align: center;
    margin-top: 20px;
  }
  
  .output p {
    font-size: 1.1rem;
    color: rgb(255, 204, 229);
    font-weight: bold;
  }
  
  .output p:first-child {
    font-size: 1.3rem; /* Lớn hơn cho BMI */
    color: #00796b; /* Màu cho kết quả BMI */
  }
  
  .output p:nth-child(2) {
    color: #8e24aa; /* Màu cho phân loại */
  }
  