<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tính chỉ số BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="input">
    <ion-item>
      <ion-label position="floating">Cân nặng (kg)</ion-label>
      <ion-input type="number" [(ngModel)]="weight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Chiều cao (m)</ion-label>
      <ion-input type="number" [(ngModel)]="height"></ion-input>
    </ion-item>
  </div>

  <ion-button expand="block" (click)="calculateBMI()">Tính BMI</ion-button>

  <div class="output">
    <div *ngIf="isExist===true">
      <p>BMI: {{ bmi }}</p>
      <p>Phân loại: {{ type }}</p>
    </div>
  </div>


</ion-content>
